
{% load static %}
<!DOCTYPE html>
<html>

<div class="container">
        <div class="py-5 text-center bg-secondary text-white">

            <h1 class="mb-3"> DogNet </h1>

            <h4 class="mb-3"> Please upload the Image of a dog</h1>
        <form action="/image/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}       
            <div class="form-group">
                {{ form.as_p }}
            </div >
            <button class = "btn btn-primary" type="submit">Submit </button>
        </form>
    </div>

<img class = "ml-3" src="{% static "color_img.jpg" %}" alt="My image" width="250" height="250"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>






<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = {{ xValues|safe }};
var yValues = {{ yValues|safe }};
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "DogNet Predictions"
    }
  }
});

</script>
</div>
<body>


</body>
</html>
